<div class="container">
  <div class="row">
    <div class="col-12">
      <p>Counter: {{ counter }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-success" (click)="onClickStart()" [disabled]="isStartButtonDisabled">Start Game</button>
      <button class="btn btn-warning" (click)="onClickPause()" [disabled]="isPauseButtonDisabled">Pause Game</button>
      <button class="btn btn-danger" (click)="onClickStop()" [disabled]="isStopButtonDisabled">Stop Game</button>
    </div>
  </div>
</div>